<h2>Principais jornais encontrados:</h2>

<ul>
<li><a class="icon-link icon-link-hover" href="https://digital.jornalnh.com.br/">ABC+</a></li>
<li><a class="icon-link icon-link-hover" href="https://poa24horas.com.br/">POA24horas</a></li>
<li><a class="icon-link icon-link-hover" href="https://www.correiodopovo.com.br/">Correio do povo</a></li>
<li><a class="icon-link icon-link-hover" href="https://www.osul.com.br/">Jornal o sul</a></li>
<li><a class="icon-link icon-link-hover" href="https://gauchazh.clicrbs.com.br/pioneiro/ultimas-noticias/">Jornal pioneiro</a></li>
<li><a class="icon-link icon-link-hover" href="https://gauchazh.clicrbs.com.br/">GZH</a></li>
<li><a class="icon-link icon-link-hover" href="https://g1.globo.com/">G1</a></li>
<li><a class="icon-link icon-link-hover" href="https://diariogaucho.clicrbs.com.br/">Diario gaucho</a></li>
<li><a class="icon-link icon-link-hover" href="https://oglobo.globo.com/">O Globo</a></li>
<li><a class="icon-link icon-link-hover" href="https://noticias.uol.com.br/">Uol Noticias</a></li>
<li><a class="icon-link icon-link-hover" href="https://www.cnnbrasil.com.br/">CNN Brasil</a></li>
<li><a class="icon-link icon-link-hover" href="https://www.r7.com/">R7</a></li>
<li><a class="icon-link icon-link-hover" href="https://oantagonista.com.br/">O Antagonista</a></li>
<li><a class="icon-link icon-link-hover" href="https://www.canalrural.com.br/">Canal Rural</a></li>
<li><a class="icon-link icon-link-hover" href="https://www.ihu.unisinos.br/">Instituto humanitas unisinos</a></li>
<li><a class="icon-link icon-link-hover" href="https://www.google.com/search?q=chuvas+rs&sca_esv=fc0f42412f6fa1c1&sca_upv=1&tbm=nws&sxsrf=ADLYWIINHYro0TpGAirCVLlykMnrOnkipw:1715236236198&story=GiASHkVuY2hlbnRlcyBubyBSaW8gR3JhbmRlIGRvIFN1bDIwCiaum_3gvP2vjwuBlrae3vr5t_QBgIjvhYm_jru9Ad_Ui7Xp1oe1HRCH3PPBCxgFcgIQAQ&fcs=ACgqzefj_S820ATbPZDHRn-hxnlHI8yROA&sa=X&sqi=2&ved=2ahUKEwiyzMH0-P-FAxV8r5UCHX9LCjIQjcEJegQIHRAD">Chuvas RS -Google</a></li>

</ul>
