
    
<div>
<h3 class="pb-4 mb-4 fst-italic border-bottom">
    Enchentes no RS
</h3>


<article class="blog-post">
    <h2 class="display-5 link-body-emphasis mb-1">Mapa de zonas de risco</h2>
    <p class="blog-post-meta">8 de Maio, 2024 by <a href="#">Thiago</a></p>

    <p>Abaixo segue um mapa das regiões afetadas:</p>
    <hr>

    <iframe allow="fullscreen 'none'" frameBorder="0" src="https://coastal.climatecentral.org/embed/map/10/-51.177/-29.8242/?theme=water_level&map_type=water_level_above_mhhw&basemap=roadmap&contiguous=true&elevation_model=best_available&water_level=5.1&water_unit=m" width="100%" height="450" title="Climate Central | Land below 5.1 meters of water"></iframe>

    <h2>Monitoramento: </h2>
    <ul>
    <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.windy.com/pt/-Tempestades-thunder?thunder,-29.727,-51.958,10">Windy</a></li>
    <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.climatempo.com.br/previsao-do-tempo/15-dias/cidade/363/portoalegre-rs">Climatempo</a></li>
    <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://metsul.com/raios/">Metsul</a></li>
    <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://portal.inmet.gov.br/">Inmet</a></li>
    <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://coastal.climatecentral.org/map/12/-50.9068/-29.9365/?theme=water_level&map_type=water_level_above_mhhw&basemap=roadmap&contiguous=true&elevation_model=best_available&refresh=true&water_level=5.1&water_unit=m">Climate Central</a></li>
    <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://sace.sgb.gov.br/taquari/">SACE SGB - Monitoramento histórico das bacias</a></li>

    </ul>


    
    <h2>Voluntariado: </h2>
    <ul>
    <li><a class="icon-link gap-1 icon-link-hover stretched-link" href=" https://casamilitar-rs.com.br/voluntariado/">Voluntariado casa militar</a></li>
    <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.paraquemdoar.com.br/">Para quem doar</a></li>
    <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://twitter.com/governo_rs/status/1786105498929967127">Pix defesa civil</a></li>
    <li><a class="    https://vakinha.org.br/sosenchentes?utm_source=google&utm_medium=cpc&utm_campaign=21258806071&utm_term=ajudar%20o%20rs&gad_source=1&gclid=Cj0KCQjwxeyxBhC7ARIsAC7dS397356BuQhO2xmAVBbo5PaQufhm4r5v8AacwEQRrkfIhDaoRhIOsxIaAo-vEALw_wcB">Vaquinha SOS</a></li>   
    </ul>
</article>

</div>