
    
<div>
    <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Enchentes no RS
    </h3>
    

    <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Principais canais de notícia</h2>
        <p class="blog-post-meta">8 de Maio, 2024 by <a href="#">Thiago</a></p>

        <p>Com a intenção de concentrar as referências das notícias num só lugar, seguem os links:</p>
        <hr>

        <iframe allow="fullscreen 'none'" frameBorder="0" src="https://coastal.climatecentral.org/embed/map/10/-51.177/-29.8242/?theme=water_level&map_type=water_level_above_mhhw&basemap=roadmap&contiguous=true&elevation_model=best_available&water_level=5.1&water_unit=m" width="100%" height="450" title="Climate Central | Land below 5.1 meters of water"></iframe>


        <a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.google.com/search?&hs=wyT&sca_esv=74c740cd3a771c52&sca_upv=1&channel=fs&sxsrf=ADLYWIJpUF8FkjxrOOCjca0X0hH05DKRFw:1715185783276&q=chuva+rs&tbm=nws&source=univ&tbo=u&sa=X&ved=2ahUKEwiB1Nf6vP6FAxUPBrkGHRcbDgAQt8YBKAF6BAgaEAQ&biw=1366&bih=594&dpr=1">Chuvas RS</a>
        <a class="icon-link gap-1 icon-link-hover stretched-link" href="">Chuva RS previsão</a>

        <!-- <iframe allow="fullscreen 'none'" frameBorder="0" src="https://bento.me/ajudars" width="100%" height="450" title="AjudaRS"></iframe> -->

        <h2>Principais jornais encontrados:</h2>
    
        <ul>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://digital.jornalnh.com.br/">ABC+</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://poa24horas.com.br/">POA24horas</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.correiodopovo.com.br/">Correio do povo</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.osul.com.br/">Jornal o sul</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://gauchazh.clicrbs.com.br/pioneiro/ultimas-noticias/">Jornal pioneiro</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://gauchazh.clicrbs.com.br/">GZH</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://g1.globo.com/">G1</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://diariogaucho.clicrbs.com.br/">Diario gaucho</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://oglobo.globo.com/">O Globo</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://noticias.uol.com.br/">Uol Noticias</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.cnnbrasil.com.br/">CNN Brasil</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.r7.com/">R7</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="#">O Antagonista</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.ihu.unisinos.br/">Instituto humanitas unisinos</a></li>
        </ul>

        <h2>Previsões: </h2>
        <ul>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.windy.com/pt/-Tempestades-thunder?thunder,-29.727,-51.958,10">Windy</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.climatempo.com.br/previsao-do-tempo/15-dias/cidade/363/portoalegre-rs">Climatempo</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://metsul.com/raios/">Metsul</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://portal.inmet.gov.br/">Inmet</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://coastal.climatecentral.org/map/12/-50.9068/-29.9365/?theme=water_level&map_type=water_level_above_mhhw&basemap=roadmap&contiguous=true&elevation_model=best_available&refresh=true&water_level=5.1&water_unit=m">Climate Central</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://sace.sgb.gov.br/taquari/">SACE SGB - Monitoramento histórico das bacias</a></li>

        </ul>

        
        <h2>Abrigos e doações: </h2>
        <ul>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.google.com/maps/d/viewer?mid=1tdaT-l1u3izolsm772K4XBnFxbjB09c&ll=-30.04035567173533%2C-51.16941400730167&z=13">Abrigos e onde encontrar doações</a></li>
        </ul>

        
        <h2>Voluntariado: </h2>
        <ul>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href=" https://casamilitar-rs.com.br/voluntariado/">Voluntariado casa militar</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.paraquemdoar.com.br/">Para quem doar</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://twitter.com/governo_rs/status/1786105498929967127">Pix defesa civil</a></li>
        </ul>

        <h2>Sites semelhantes: </h2>
        <ul>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://ajudars.com.br/">Ajuda RS</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://www.paraquemdoar.com.br/">Para quem doar</a></li>
        <li><a class="icon-link gap-1 icon-link-hover stretched-link" href="https://twitter.com/governo_rs/status/1786105498929967127">Pix defesa civil</a></li>
        </ul>
    </article>

</div>