<div>
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">Canais do yotube</h4>
            <p class="mb-0">Principais canais encontrados que estão informando notícias:</p>
        </div>
        <div>
            <ul class="list-unstyled">
                <li>
                    <a href="https://www.youtube.com/@gzhdigital" class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top">
                        <img src="../assets/plantao-gaucha.png" width="100%" height="96" class="bd-placeholder-img">
                        <div class="col-lg-8">
                            <h6 class="mb-0">Plantão Gaucha</h6>
                            <small class="text-body-secondary">Ultima atualização: 8 de maio</small>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="p-4">
            <h4 class="fst-italic">Ferramentas uteis</h4>
            <ol class="list-unstyled mb-0">
                <li><a href="#">Notion - Cadastros</a></li>
                <li><a href="https://docs.google.com/spreadsheets">Planilhas google</a></li>
                <li><a href="https://www.defesacivil.rs.gov.br/inicial">Defesa civil</a></li>
                <li><a href="https://ssp.rs.gov.br/corpo-de-bombeiros-militar">Bombeiros</a></li><li><a href="https://cvbrs.org.br/">Cruz vermelha</a></li>
            </ol>
        </div>
        <div class="p-4">
            <ol class="list-unstyled">
                <li><a href="https://github.com/ThiagoKasperSouza">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/thiagokasper/">Linkedin</a></li>
            </ol>
        </div>
    </div>
</div>