<iframe src="https://www.google.com/maps/d/embed?mid=1z6nSuINzab-KpEV-uDAhV4j6zwzX_Mc&ehbc=2E312F" width="100%" height="500"></iframe>

<div>
    <h1>Solicitar resgate:</h1>

    <h3>Grupos:</h3>
    <ul>
        <li><a href="https://api.whatsapp.com/send?phone=555198886411&text=PRECISO%20DE%20RESGATE%3A%0ACANOAS%20-%20mando%20a%20localiza%C3%A7%C3%A3o%20atual%0Anumero%20de%20pessoas%3A">Resgate Canoas 1 (Whats)</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=5551999838125&text=%E2%9A%A0%EF%B8%8FPRECISO%20DE%20RESGATE%3A%0Aenviado%20pelo%3A%20bento.me%2Fajudars%0ACANOAS%20-%20mando%20a%20localiza%C3%A7%C3%A3o%20atual%0Anumero%20de%20pessoas%3A">Resgate Canoas 2 (Whats)</a></li>
    </ul>

    <h3>Forms:</h3>
    <ul>
        <li><a href="https://api.whatsapp.com/send?phone=555198886411&text=PRECISO%20DE%20RESGATE%3A%0ACANOAS%20-%20mando%20a%20localiza%C3%A7%C3%A3o%20atual%0Anumero%20de%20pessoas%3A">Resgate Canoas 1 (Whats)</a></li>
        <li><a href="https://api.whatsapp.com/send?phone=5551999838125&text=%E2%9A%A0%EF%B8%8FPRECISO%20DE%20RESGATE%3A%0Aenviado%20pelo%3A%20bento.me%2Fajudars%0ACANOAS%20-%20mando%20a%20localiza%C3%A7%C3%A3o%20atual%0Anumero%20de%20pessoas%3A">Resgate Canoas 2 (Whats)</a></li>
    </ul>

    <h3>Insta:</h3>
    <ul>
        <li><a href="https://www.instagram.com/PRECISOTEACHAR/">PrecisoTeAchar</a></li>
    </ul>
</div>